.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  width: 250px;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-right: 1px solid #ddd;
  background-color: rgb(5, 111, 102);
}

.notesWrapper {
  width: 100%;
}
